<section class="py-5">
  <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">You T-Shirt should be mail to your address with in 1 buisness day</p>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>